<div class="coursewall-photo coursewall-comment-photo" style="background-image:url(/direct/profile/{{creatorId}}/image/thumb)"></div>
<div class="coursewall-editor-text-wrapper">
    <div class="coursewall-editor-text coursewall-comment-editor-text" data-post-id="{{id}}"><textarea id="coursewall-comment-textarea-{{id}}" class="coursewall-comment-textarea" data-post-id="{{id}}">{{content}}</textarea></div>
    <div id="coursewall-comment-post-buttons-{{id}}">
        <button id="coursewall-inplace-comment-editor-post-button-{{id}}">Post Comment</button>
        <button onclick="coursewall.utils.cancelCommentEdit('{{id}}');">Cancel</button>
    </div>
</div>
