<div class="wall-photo wall-comment-photo" style="background-image:url(/direct/profile/{{#if currentUserId}}{{currentUserId}}{{else}}{{creatorId}}{{/if}}/image/thumb)"></div>
<div class="wall-editor-text-wrapper">
    <div class="wall-editor-text wall-comment-editor-text" data-post-id="{{id}}"><textarea id="wall-comment-textarea-{{id}}" class="wall-comment-textarea" data-post-id="{{id}}"></textarea></div>
    <div id="wall-comment-post-buttons-{{id}}">
        <button id="wall-inplace-comment-editor-post-button-{{id}}">{{translate 'post_comment'}}</button>
        <button id="wall-inplace-comment-editor-cancel-button-{{id}}">{{translate 'cancel'}}</button>
    </div>
</div>
