<div class="cw-photo cw-comment-photo" style="background-image:url(/direct/profile/{{#if currentUserId}}{{currentUserId}}{{else}}{{creatorId}}{{/if}}/image/thumb)"></div>
<div class="cw-editor-text-wrapper">
    <div class="cw-editor-text cw-comment-editor-text" data-post-id="{{id}}"><textarea id="cw-comment-textarea-{{id}}" class="cw-comment-textarea" data-post-id="{{id}}"></textarea></div>
    <div id="cw-comment-post-buttons-{{id}}">
        <button id="cw-inplace-comment-editor-post-button-{{id}}">{{translate 'post_comment'}}</button>
        <button id="cw-inplace-comment-editor-cancel-button-{{id}}">{{translate 'cancel'}}</button>
    </div>
</div>
