<div class="cw-og-fragment">
    <div class="cw-og-image-wrapper">
        <a href="{{url}}" target="_blank"><img src="{{image}}" width="470"/></a>
    </div>
    <div class="cw-og-title">
        <a href="{{url}}" target="_blank">{{title}}</a>
    </div>
    <div class="cw-og-description">{{description}}</div>
    <div class="courseflow-og-sitename">{{siteName}}</div>
</div>
