<h2>{{translate 'permissions'}}</h2>
<table id="coursewall-permissions-table">
	<thead>
		<tr>
			<th></th>
			<th width="5px"></th>
			<th align="center" colspan="6">{{translate 'post'}}</th>
		</tr>
		<tr class="listHier">
			<th align="left">{{translate 'role'}}:</th>
			<th style="background: white;border: none;"></th>
			<th style="text-align:center;">{{translate 'create'}}</th>
			<th style="text-align:center;">{{translate 'read_any'}}</th>
			<th style="text-align:center;">{{translate 'update_any'}}</th>
			<th style="text-align:center;">{{translate 'update_own'}}</th>
			<th style="text-align:center;">{{translate 'delete_any'}}</th>
			<th style="text-align:center;">{{translate 'delete_own'}}</th>
		</tr>
	</thead>
<tbody>
{{#each perms}}
<tr>
	<td align="left">{{role}}</td>
	<td></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_post_create}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.create"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_post_read_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.read.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission_checkbox" {{#if coursewall_post_update_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.update.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_post_update_own}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.update.own"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_post_delete_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.delete.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_post_delete_own}}checked="checked"{{/if}}" id="{{role}}:coursewall.post.delete.own"/></td>
</tr>
{{/each}}
</tbody>
</table>
<table id="coursewall-permissions-table">	
<thead>
		<tr>
			<th></th>
			<th width="5px"></th>
			<th colspan="6">{{translate 'comment'}}</th>
		</tr>
		<tr class="listHier">
			<th align="left">{{translate 'role'}}:</th>
			<th style="background: white;border: none;"></th>
			<th style="text-align:center;">{{translate 'create'}}</th>
			<th style="text-align:center;">{{translate 'read_any'}}</th>
			<th style="text-align:center;">{{translate 'update_any'}}</th>
			<th style="text-align:center;">{{translate 'update_own'}}</th>
			<th style="text-align:center;">{{translate 'delete_any'}}</th>
			<th style="text-align:center;">{{translate 'delete_own'}}</th>
		</tr>
	</thead>
{{#each perms}}
<tr>
	<td align="left">{{role}}</td>
	<td></td>	
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_create}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.create"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_read_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.read.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_update_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.update.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_update_own}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.update.own"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_delete_any}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.delete.any"/></td>
	<td align="center"><input type="checkbox" class="coursewall-permission-checkbox" {{#if coursewall_comment_delete_own}}checked="checked"{{/if}}" id="{{role}}:coursewall.comment.delete.own"/></td>
</tr>
{{/each}}
</tbody>
</table>
<input id="coursewall_permissions_save_button" type="button" value="{{translate 'save'}}"/>
<input type="button" value="{{translate 'cancel'}}" onclick="return coursewall.switchState('home');"/>
