	<div id="coursewall-post-outer-container-{{id}}" class="coursewall-post-outer-container">
		<div class="coursewall-post-inner-container">

            <div class="coursewall-post-topbar">
                <div class="coursewall-author">
                    <div class="coursewall-photo" style="background-image:url(/direct/profile/{{creatorId}}/image/thumb)"></div>
                    <div class="coursewall-author-details">
                        <div class="coursewall-author-name"><a class="profile" rel="/direct/profile/{{creatorId}}/formatted">{{creatorDisplayName}}</a></div>
                        <div>
                            <span class="coursewall-date-label">{{translate 'created'}}</span>
                            <span class="coursewall-date">{{formattedCreatedDate}}</span>
                        </div>
                        {{#if isModified}}
                        <div>
                            <span class="coursewall-date-label">{{translate 'modified'}}</span>
                            <span class="coursewall-date">{{formattedModifiedDate}}</span>
                        </div>
                        {{/if}}
                    </div>
                </div>
			</div> <!-- /coursewall-post-topbar -->

            <div class="coursewall-post-body">
			    <div id="coursewall-post-content-{{id}}" class="coursewall-post-content">{{{content}}}</div>
                <div id="coursewall-post-options-{{id}}" class="coursewall-post-options">
                    {{#if canEdit}}
                    <a href="javascript:;" id="coursewall-post-edit-link-{{id}}" class="coursewall-post-edit-link" data-post-id="{{id}}">{{translate 'edit'}}</a>
                    {{/if}}
                    {{!--#if canComment}}
                    <a href="javascript:;" id="coursewall-post-comment-link-{{id}}" class="coursewall-post-comment-link" data-post-id="{{id}}">{{translate 'comment'}}</a>
                    {{/if--}}
                    {{#if canDelete}}
                    <a href="javascript:;" id="coursewall-post-delete-link-{{id}}" class="coursewall-post-delete-link" data-post-id="{{id}}">{{translate 'del'}}</a>
                    {{/if}}
                </div>
		    </div>

		</div> <!-- /coursewall-post-inner-container -->
    </div> <!-- /coursewall-post-outer-container -->

    <div id="coursewall-comments-{{id}}" class="coursewall-comments">
        <div id="coursewall-comments-container-{{id}}">
        {{#each comments}}
            {{> wrapped_comment}}
        {{/each}}
        </div>
        {{#if canComment}}
        <a href="javascript:;" id="coursewall-create-comment-link-{{id}}" class="coursewall-create-comment-link" data-post-id="{{id}}">{{translate 'comment'}}</a>
        {{/if}}
        <div id="coursewall-comment-creator-{{id}}" class="coursewall-comment-creator">
        {{> inplace_comment_editor}}
        </div>
    </div> <!-- coursewall-comments -->
