<div id="cw-comment-{{id}}" class="cw-comment {{orderClass}}"
            data-post-id="{{postId}}" data-creator-id="{{creatorId}}" data-creator-display-name="{{creatorDisplayName}}"
            data-created-date="{{createdDate}}" data-modified-date="{{modifiedDate}}" {{#unless isLatest}}style="display: none;"{{/unless}}>
    {{> comment postId=../id canComment=../canComment}}
</div> <!-- cw-comment -->
