<div class="coursewall-comment-photo" style="background-image:url(/direct/profile/{{creatorId}}/image/thumb)"></div>
<div class="coursewall-comment-body">
    <span id="coursewall-comment-author-name-{{id}}" class="coursewall-comment-author-name"><a class="profile" rel="/direct/profile/{{creatorId}}/formatted">{{creatorDisplayName}}</a></span>
    <span id="coursewall-comment-content-{{id}}" class="coursewall-comment-content">{{{content}}}</span>
    <div id="coursewall-comment-options-{{id}}" class="coursewall-comment-options">
        {{#if canEdit}}
        <a href="javascript:;" id="coursewall-comment-edit-link-{{id}}" class="coursewall-comment-edit-link" data-comment-id="{{id}}" data-creator-id="{{creatorId}}">{{translate 'edit'}}</a>
        {{/if}}
        {{!--
        {{#if canComment}}
        <a href="javascript:;" class="coursewall-comment-reply-link" data-comment-id="{{id}}">{{translate 'reply'}}</a>
        {{/if}}
        --}}
        {{#if canDelete}}
        <a href="javascript:;" id="coursewall-comment-delete-link-{{id}}" class="coursewall-comment-delete-link" data-post-id="{{postId}}" data-comment-id="{{id}}">{{translate 'del'}}</a>
        {{/if}}
    </div>
</div>
