<div id="coursewall-comment-{{id}}" class="coursewall-comment"
            data-post-id="{{postId}}" data-creator-id="{{creatorId}}" data-creator-display-name="{{creatorDisplayName}}"
            data-created-date="{{createdDate}}" data-modified-date="{{modifiedDate}}">
    {{> comment postId=../id}}
</div> <!-- coursewall-comment -->
